.side-panel {
    margin: 10px;
    position: absolute;
    display: block;
    height: 600px;
    width: 420px;
    right: auto;
    left: 15px;
    top: 75px;
    border-radius: 4px;
    background: black;
    color: dimgrey;
    justify-content: center;
    opacity: 0.85;
  }
